@import "components/_color.scss";


@mixin my-button {
	@extend .cyan, .darken-1;
	font-size: 0.875rem;
	padding: 5px 15px;
	line-height: normal;
	margin: 10px;
}

body {
/* Used colorzilla to make gradient */
/* Plain bg for old browsers*/
background: #d084a9; 
/* Mozilla Gradient */
background: -moz-linear-gradient(45deg, #d084a9 7%, #e2e4d4 50%, #e2e4d4 54%, #00b6ce 100%) fixed; 
/* Chrome/ Safari Gradient */
background: -webkit-linear-gradient(45deg, #d084a9 7%,#e2e4d4 50%,#e2e4d4 54%,#00b6ce 100%) fixed; 
/* Internet Explorer Gradient */
background: linear-gradient(45deg, #d084a9 7%,#e2e4d4 50%,#e2e4d4 54%,#00b6ce 100%) fixed; 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d084a9', endColorstr='#00b6ce',GradientType=1 ); 



	.container {

		/* Changes h1 Size */
		h1 {
		font-size: 2rem;	
		}

		.myform {
			padding: 10px 90px;

			/*Changes Select Arrow Size and Color*/
			.select-wrapper {
				span.caret {
				@extend .grey-text, .lighten-3;
				font-size: 0.8rem;
				}
			}


			/* Overwrites Gender Select Bg Color */
			#gender-field .dropdown-content{

					li {
					@extend .grey, .lighten-3;
					}
			}
		

			/* Changes Horn Field Width*/
			.range-field {
				width: 70%;

				/*Changes Label Size */
				label {
				font-size: 0.75rem;
				}
			}

			/* Overwrites Email margin */

			#email {
			margin-bottom: 0;

			}

			/*Changes Alert Icon Style and Position */
			#error {
			margin-top: -5px;
			visibility: hidden;
		
				.material-icons {
				font-size: 1.2rem;
				}	
			}

			/* Changes Checkbox Label Position */
			.input-checkbox label {
			padding-left: 50px;
			}



			/* Overwrites Button Style */
			.boton {
			@include my-button;
			}
		}



	


	}
}
